.wrapper {
    display: flex;  
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center; 
  }
  
  .wrapper > * {
    padding: 20px;
    flex: 1 100%;
  }
  
  .header {
    background: tomato;
  }
  
  .footer {
    background: lightgreen;
  }
  
  .main {
    text-align: left;
    background: deepskyblue;
  }
  
  .aside-1 {
    background: gold;
  }
  
img {
    width: 200px;
    height: 200px;
}

  @media all{
    .main     { flex: 5; }
    .aside    { flex: 1; }
    .aside-1  { order: 1; } 
    .main     { order: 2; }
    .aside-2  { order: 3; }
    .aside-3  { order: 4; }
    .footer   {order: 5;}
  }
  
  /*
  @media all and (min-width: 600px) {Aside 1
    .aside { flex: 1 0 0; }
  }
  
  @media all and (min-width: 800px) {
    .main    { flex: 3 0px; }
    .aside-1 { order: 1; } 
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
  }
  
  body {
    padding: 2em; 
  }
  */